## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy
# Import the datetime module from the datetime library.
from datetime import datetime
# Import the requests library.
import requests
# Import the API key.
from config import weather_api_key

from config import weather_api_key
# Import the time module.
import time
# Import linear regression from the SciPy stats module.
from scipy.stats import linregress

import gmaps 
#import the API key 
from config import g_key

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,Vilhena,BR,2021-09-17 04:01:36,-12.7406,-60.1458,71.15,73,8,1.34,clear sky,0,0
1,1,Busselton,AU,2021-09-17 04:06:32,-33.6500,115.3333,59.04,57,70,12.46,broken clouds,0,0
2,2,Khatanga,RU,2021-09-17 04:06:52,71.9667,102.5000,34.03,77,100,6.87,overcast clouds,0,0
3,3,Kodiak,US,2021-09-17 04:06:53,57.7900,-152.4072,51.31,87,90,13.80,light rain,0,0
4,4,Vaini,TO,2021-09-17 04:07:03,-21.2000,-175.2000,80.76,89,20,5.75,few clouds,0,0

In [16]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# ask the customer to add a minimum and max temp value 
min_temp = float(input("what is the min temperature you would like for your trip? "))
max_temp = float(input("what is the max temperature you would like for your trip? "))

what is the min temperature you would like for your trip? 75
what is the max temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# use loc() to select for the indicated max temp or min temp 
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
10,10,Najran,SA,2021-09-17 04:07:07,17.4924,44.1277,78.42,19,7,4.27,clear sky,0,0
14,14,Salinopolis,BR,2021-09-17 04:07:10,-0.6136,-47.3561,78.13,85,4,6.35,clear sky,0,0
25,25,Saint-Paul,RE,2021-09-17 04:07:16,-21.0096,55.2707,75.74,72,3,4.14,clear sky,0,0
27,27,Brus Laguna,HN,2021-09-17 04:07:17,15.7500,-84.4833,76.50,93,43,4.12,scattered clouds,0,0
41,41,Atuona,PF,2021-09-17 04:07:24,-9.8000,-139.0333,77.54,80,21,20.71,light rain,0,0
53,53,Sao Filipe,CV,2021-09-17 04:07:30,14.8961,-24.4956,79.41,82,100,7.23,overcast clouds,0,0
58,58,Noumea,NC,2021-09-17 04:07:34,-22.2763,166.4572,75.18,55,15,12.19,few clouds,0,0
65,65,Carutapera,BR,2021-09-17 04:07:38,-1.1950,-46.0200,76.15,90,2,3.56,clear sky,0,0
80,80,Banda,IN,2021-09-17 04:07:45,25.4833,80.3333,79.99,82,100,10.63,overcast clouds,0,0
86,86,Sibsagar,IN,2021-09-17 04:07:48,26.9833,94.6333,77.18,80,91,7.00,overcast clouds,0,0

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                     93
City                        93
Country                     93
Date                        93
Lat                         93
Lng                         93
Max Temp                    93
Humidity                    93
Cloudiness                  93
Wind Speed                  93
Current Weather             93
Rain inches (last 3 hrs)    93
Snow inches (last 3 hrs)    93
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# NO EMPTY ROWS!!!
clean_df = preferred_cities_df.dropna()

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
# to make new column, just set it equal to an empty string 

hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
10       Najran      SA     78.42  17.4924   44.1277
14  Salinopolis      BR     78.13  -0.6136  -47.3561
25   Saint-Paul      RE     75.74 -21.0096   55.2707
27  Brus Laguna      HN     76.50  15.7500  -84.4833
41       Atuona      PF     77.54  -9.8000 -139.0333
53   Sao Filipe      CV     79.41  14.8961  -24.4956
58       Noumea      NC     75.18 -22.2763  166.4572
65   Carutapera      BR     76.15  -1.1950  -46.0200
80        Banda      IN     79.99  25.4833   80.3333
86     Sibsagar      IN     77.18  26.9833   94.6333

In [23]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": "Lat, Lng"
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"] 
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
          print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
len(hotels["results"])

11

In [25]:
# 7. Drop the rows where there is no Hotel Name.
# check to see if there are rows with no hotel name
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
10,Najran,SA,78.42,17.4924,44.1277,محمد هادي ال فطيح
14,Salinopolis,BR,78.13,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
25,Saint-Paul,RE,75.74,-21.0096,55.2707,Boucan Canot
27,Brus Laguna,HN,76.50,15.7500,-84.4833,
41,Atuona,PF,77.54,-9.8000,-139.0333,Villa Enata

In [26]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [27]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
# assign variable to multiline string using """"""
info_box_template = """ 
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))